body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.lBorder, .rBorder{
    display: flex;
    flex: 1;
}
.content {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main {
    display: flex;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
