body{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex:1;
 
    height: 100vh;
}

.lBorder, .rBorder{
    flex:1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    flex:3;
}
.header-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap:16px;
}
.main1 {
    display: flex;
    justify-content: space-between;
}
.text {
    flex:3;
}
img {
    height: 200px;
    width: 400px;
}
.main2{
    flex: 1;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
